In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('tribunaldejustica.csv', delimiter=';')
df.head()

                                               Cargo Codigo Posicao
0  523 - TECNICO JUDICIARIO - Servidores do Quadr...      0     A I
1  523 - TECNICO JUDICIARIO - Servidores do Quadr...      0     A I
2  523 - TECNICO JUDICIARIO - Servidores do Quadr...      0     A I
3  523 - TECNICO JUDICIARIO - Servidores do Quadr...      0     A I
4  523 - TECNICO JUDICIARIO - Servidores do Quadr...      0     A I

In [8]:
df['Codigo'].value_counts()

11429     395
11430     395
11435     395
11434     395
11428     384
         ...
422903      1
422904      1
423001      1
423002      1
430631      1
Name: Codigo, Length: 396, dtype: int64